<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sports">

    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //记步
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />



    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".main.activity.MainActivity" >

        </activity>
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".athletics.activity.CountActivity"
            android:launchMode="singleInstance">

        </activity>
        <activity android:name=".main.activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.activity.RegistActivity" />
        <activity android:name=".main.activity.LoginActivity" />
        <activity android:name=".main.activity.FindPwdActivity" />
        <activity android:name=".main.activity.HeadActivity" />
        <activity android:name=".mine.activity.RuleActivity" />
        <activity android:name=".mine.activity.SettingsActivity" />
        <activity android:name=".mine.activity.BindActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.user.sports.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".contacts.child.activity.InformationActivity" />
        <activity android:name=".contacts.child.activity.ChatActivity" />
        <activity android:name=".contacts.child.activity.NewFriendActivity" />
        <activity android:name=".contacts.child.activity.AddFriendActivity" />
        <activity android:name=".contacts.team.create.CreateActivity" />
        <activity android:name=".contacts.team.recommend.RecommendActivity" />
        <activity android:name=".contacts.team.search.SearchActivity" />
        <activity android:name=".contacts.team.control.ControlActivity" />
        <activity android:name=".contacts.team.create.ChooseBgActivity" />
        <activity android:name=".contacts.team.recommend.TeamDetailActivity" />
        <activity android:name=".cycle.activity.ActivityDetails" />
        <activity android:name=".cycle.activity.AddCommentActivity" />
        <activity android:name=".cycle.activity.ActivityAdd" />

        <service
            android:name=".athletics.stepservice.StepService"
            android:priority="1000">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <activity android:name=".athletics.activity.ReadyActivity" />
        <activity android:name=".athletics.activity.UploadActivity" />

        <receiver
            android:name=".athletics.receive.AdminManageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>